# Dados brutos
datasets/*.csv
datasets/*.zip

# Exceção
!datasets/pvm_categoria.csv

# Arquivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Credenciais e chaves
.env
*.json.key
service-account*.json
credentials*.json

# Arquivos temporários
*.tmp
*.log
